body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: hsl(202, 86%, 94%);
}
.container {
    display: flex;
    width: 70%;
    height: 70%;
    min-width: 900px;
    min-height: 500px;
    background-color: white;
    border-radius: 30px;
}

.container > div {
    
    
}
.calculator {
    flex: 1;
    padding: 5%;
}
.calculatorHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calculatorHead > * {
    margin-top: 0;
}
#clearForm {
    text-decoration: underline;
    opacity: 60%;
}
.results {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 90px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(202, 55%, 16%);
    flex: 1;
}
.results img {
    width: clamp(100px, 50%, 200px);
}
.results h1 {
    color: white;
    font-size: 1.3rem;
    margin:0;
}
.results p {
    color: white;
    text-align: center;
}

label {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

label > div {
    display: flex;
    border: solid hsl(200, 24%, 40%) 1px;
    border-radius: 5px;
}
label > div > input {
    border-style: none;
    border-radius: 5px;
}
.inputBox{
    padding: 10px;
    background-color: hsl(202, 86%, 94%);
    color: hsl(200, 24%, 40%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
form > label {
    margin-bottom: 20px;
    
}
#mortgageAmount {
    width: 100%;
    
}
#mortgageAmountInputBox > div {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.formTermRatesContainer {
    display: flex;
    gap: 20px;
    
}
.formTermRatesContainer > label {
    width: 50%;
}
.formTermRatesContainer > label > div > input {
    width: 100%;
}


.formChecks label{
    border: solid hsl(200, 24%, 40%) 1px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;

}
.formChecks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formChecks h3{
    margin-bottom: 0;
    font-size: 1rem;
}
label {
    font-size: 1rem;
}
button {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 70%;
    background-color: hsl(61, 70%, 52%);
    border-radius: 30px;
    border-style: none;
}

@media only screen and (max-width: 950px) {
    body {
        height: auto;
    }
    .container {
        margin-top: 50px;
        flex-direction: column;
        min-width: 500px;
        min-height: none; 
    }

    .results {
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        min-width: 100vw;
        margin: 0;
        border-radius: 0;
        min-height: 100vh;
        
    }
    form {
        width: 100%;
    }
    .results {
        border-radius: 0;
    }
}